@model FrozenTaste.Models.Productos_Sabores

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Productos_Sabores</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Productos.Producto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Productos.Producto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sabores.Sabor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sabores.Sabor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id_Productos_Sabor }) |
    @Html.ActionLink("Regresar", "Index")
</p>
