@model FrozenTaste.Models.Productos_Bases

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Productos_Bases</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bases.Base)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bases.Base)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Productos.Producto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Productos.Producto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id_Productos_Base }) |
    @Html.ActionLink("Regresar", "Index")
</p>
